body{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #333;
  box-sizing: border-box;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

p{
  margin: 0;
}
.preSeciton > ul > li{
  padding-bottom: 5px;
}
.preSeciton > ul > li > a{
  border-left: 5px solid red;
  padding-left: 4px;
}
.SiteDescription > p{
  padding-top: 5px;
  border-bottom: 1px dashed red;
}
/* .wrap_section1{
  display: flex;
} */
.select2{
    width: 100%!important;
}
.select2-container--default .select2-selection--single{
  height: 39px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 39px;
}
.RankingList{
  border-bottom: 1px solid #ddd;
}
#delete_key{
  display: none;
}
/* paginate */

.page-item{
  padding-right: 0;
}

.page-link{
  padding: 15px 25px;
}

.SiteDescription{
  background-color: snow;
}

.form{
  width: 1200px;
}

.alert-light{
  margin-left:27px;
}

ul{
  padding-left: 10px;
}

li{
  list-style: none;
  padding-right: 20px;
}
.HeaderWrap{
  width: 1200px;
}
.TitleBox{
  padding-left: 40px;
  margin: 0 auto;
}
.NavItem{
  padding-left: 25px;
}

.NavItemList{
  border: 1px solid #555;
}

.defaultWrap {
    min-width: 320px;
    max-width: 1120px;
    text-align: left;
    margin: 0 auto;
}

#globalNavUl li {
    text-align: center;
    width: 20%;
    float: left;
}

h1{
  margin: 5px;
  padding-top: 10px;
  color: #ddd;
}
h2{
  color: #ddd;
}

label{
  color: #ddd;
}

small{
  color: orange;
}

.NavItem{
  margin: 0;
}

.NavItemList{
  padding: 15px;
  font-size: 25px;
  margin: 0 auto;
}

.plate{
  padding: 0!important;
}

.SectionTitlebox {
  color: black;
  border-left: solid 10px red;
  padding-left: 10px;
  background-color: snow;
  font-size: 20px;
  border-bottom: 2px solid #555;
  margin-bottom: 0;
}

.SectionTitle{
  margin-top: 5px;
  font-size: 20px!important;
  color: #555;
}

time{
  color: black;
  margin-right: 10px;
}

.sp_box{
  display: flex;
}

.SiteDescription{
  word-wrap: break-word;
}

.Section_box{
  border: 1px solid snow;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

.PrefecturesWrapper{
  display: flex;
}
.PrefecturesWrapper dd{
  padding-left: 20px;
}

.PrefecturesList{
  padding: 10px;
  background-color: snow;
}

.right_p{
  padding-left: 0px;
}

.right_p2{
  padding-left: 15px;
}

.brand_type{
  margin-bottom: 0;
}

.imagebox{
  /* display: inline-block; */
  position: relative;
  z-index: 1;
}

.Region{
  position: absolute;
  top: 78px;
  left: 70px;
  z-index: 2;
  font-size: 22px;
}

.Classification{
  position: absolute;
  top: 75px;
  left: 123px;
  z-index: 2;
  font-size: 25px;
}

.Distinction{
  position: absolute;
  top: 116px;
  left: 34px;
  z-index: 2;
  font-size: 25px;
}

.Mainnumber{
  position: absolute;
  top: 97px;
  left: 67px;
  z-index: 2;
  font-size: 48px;
}

.ChangeSize{
  font-size: 10px;
  position: relative;
  top: -2px;
}


.imagebox .image{
  max-width: 200px;
}

.noimage{
  height: 108;
  width: 200;
  padding-bottom: 10px;
}

.box{
  position: relative;
  width: 200px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 2px;
  box-shadow: 2px 2px 1px 1px;
  background: #fff;
}

.Region1{
  position: absolute;
  top: 2px;
  left: 50px;
  z-index: 2;
  font-size: 22px;
}

.strlen{
    left: 37px!important;
}

.strlenover{
  left: 10px!important;
}

.Classification1{
  position: absolute;
  top: -1px;
  left: 105px;
  z-index: 2;
  font-size: 25px;
}

.Distinction1{
  position: absolute;
  top: 42px;
  left: 12px;
  z-index: 2;
  font-size: 25px;
}

.Mainnumber1{
  position: absolute;
  top: 25px;
  left: 45px;
  z-index: 2;
  font-size: 48px;
}

.latestPostData{
  padding-top: 15px;
  display: flex;
  background-color: snow;
}

.Section_box{
  margin-bottom: 15px;
}

.text_area{
  max-width: 474px;
}

.pic_text_box_list{
  display: flex;
  margin-bottom: 0px;
  padding-left: 9px;
}

.header_list{
  word-break: break-all;
  width: 200px;
}

th,td{
  border: 1px solid #555;
  padding: 1px 10px;
}

.header_table{
  margin-top: 15px;
}

//ranking

.RankingTab{
  display: none!important;
}

.RankingContents{
  margin-right: 15px;
}

.ranking{
  display: flex;
}

.RankingBoxRap{
  display: flex;
}

.RankingContents{
  font-size: 35px;
  margin-right: 50px;
}
.RankingList{
  padding-right: 0px!important;
  padding: 10px 0;
}
.top3{
  width: 100px;
  height: 60px;
  position: relative;
  top: -2px;
}
.under{
  padding: 0 21px;
  position: relative;
  top: 2px;
}

.RankingCount{
  font-size: 15px;
}
.PreCountBox{
  font-size: 23px;
}
.spbox{
 display: flex;
}
/* .col-12{
  padding-left: 18px!important;
  padding-right: 18px!important;
}
.col-lg-8{
  padding-left: 25px!important;
  padding-right: 25px!important;
} */
.image{
  width: 200px;
  height: 110px;
  padding-bottom: 5px;
}
.Textlist{
  padding-right: 8px;
}

.defaultWrap{
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 0;
}

.defaultWrap a{
  color: #555;
}
i {
  font-size: 25px;
  color: black;
}

.headNav{
  border-right: 1px solid #ddd;
  padding-right: 0;
  padding: 15px 0;
  background-color: snow
}

.headNav0{
  padding: 15px 0;
  background-color: snow
}
.blahbox{
  margin: 0 auto;
  text-align: center;
}
.imgbox{
  padding: 0 50px;
}

.FormBox{
  padding-top: 15px;
}

table{
  background-color: snow;
}


dt::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f105";
  margin-right: 10px;
  color: red!important;
}
.sp_hidden{
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f105";
  margin-right: 10px;
  color: red!important;
}
.maincontainersp{
  padding-top: 15px;
}

/* title */
.place_title{
  padding-left: 30px;
}

.tab-pane{
  background-color: snow!important;
  padding: 15px;
}

.modal-footer{
  border-top: none!important;
}

.PostImage{
  width: 500px;
}

/* .PostSpan{
  color: orange;
} */
.PostSupplement{
  padding-bottom: 5px;
}

.count::before{
  content:'あと';
}
.count::after{
  content:'文字';
}

.short{
  padding-right: 64px;
}
.short2{
  padding-right: 15px;
}

.copyright{
  margin: 0 auto;
}

.accordion{
  display: none;
}

#admin{
  color: inherit;
  cursor: default;
}
#admin:hover{
  text-decoration: none!important
}

/* アフィリエイト */
.table td{
  vertical-align: baseline;
}

.loopAfiWrapper_pc{
  justify-content: center;
  margin-bottom: 15px;
}
.loopAfiBox_tab{
  display: none;
}
.loopAfiBox_SP{
  display: none;
}


@media screen and (max-width:1200px) {
.right_p{
  padding-left: 5px;
}
.PostImage{
  width: 300px;
}
.sp_hidden a{
  font-size: 15px!important;
}

.SizeChange{
  font-size: 15px!important;
}
}

@media screen and (max-width:1098px) {
  .text_area {
    font-size: 15px;
}
.pic_text_box_list{
  display: flex;
}
.PrefecturesWrapper dd{
  padding-left: 19px;
  font-size: 23px;
}
.sp_hidden a{
  font-size: 12px!important;
}
.SizeChange{
  font-size: 15px!important;
}
.hiden1080{
  display: none;
}
}

@media screen and (max-width:990px) {
  .defultPC{
    display: none;
  }
  .sp_hidden{
    display: none;
  }
  .loopAfiBox_SP{
    display: block;
  }

  .sp_hidden_super{
    margin-right: 0!important;
    display: none;
  }

  .accordion{
    display: block;
  }

  .latestPostData{
    display: block;
  }
  .PrefecturesWrapper{
    border-bottom: 1px solid #555;
  }
  dt{
    font-size: 20px;
    color: #007bff;
  }
  dd{
    border-bottom: 1px solid #555;
    padding: 5px 0;
  }
  .modal-body{
    font-size: 18px;
  }
.bigimage{
  width: 90%;
}
.loopAfiBox_tab{
  display: block;
}
}

@media (max-width: 767px){
.regionlist{
  padding: 5px 0;
}
.regionlist_plus{
  padding-right: 5px;
}
  .sp_hidden{
    display: none;
  }
  .latestPostData{
    display: block;
  }
  h1{
    font-size: 20px;
  }
  .TitleBox{
    padding-left: 10px;
    padding-top: 10px;
  }
  .headNav{
    padding: 10px 0;
  }
  .headNav0{
    padding: 10px 0;
  }
  .header_list{
    width: 184px;
    font-size: 12px;
  }
  .noimage{
    width: 169px;
    height: 80px;
    padding-bottom: 5px;
    margin-bottom: 3px;
  }
  .box{
    position: relative;
    width: 167px;
    height: 80px;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-shadow: 2px 2px 1px 1px;
  }
  .Region1{
    position: absolute;
    top: 6px;
    left: 47px;
    z-index: 2;
    font-size: 16px;
  }
  .Classification1{
    position: absolute;
    top: 4px;
    left: 92px;
    z-index: 2;
    font-size: 18px;
  }
  .Distinction1{
    position: absolute;
    top: 35px;
    left: 12px;
    z-index: 2;
    font-size: 22px;
  }
  .Mainnumber1{
    position: absolute;
    top: 20px;
    left: 39px;
    z-index: 2;
    font-size: 38px;
  }
  .text_area{
    font-size: 10px;
    padding-right: 8px;
  }
  .Textlist{
    padding-right: 8px;
  }
  .SectionTitle{
    font-size: 18px!important;
    position: relative;
    top: 3px;
  }
  time{
    font-size: 15px;
  }
  .SectionTitleBox{
    align-items: center;
  }
  .Navtitle{
    font-size: 12px;
  }
  .image{
    width: 169px;
    height: 80px;
  }
  /* PostBtn */
  .PostBtn{
    font-size: 15px;
  }

  /* serchcardata */
  .serch_title{
    font-size: 15px;
  }
  .modal-body{
    font-size: 12px!important;
    padding: 5px!important;
  }

  .strlenover {
      left: 20px!important;
  }
  .Classification1 {
      left: 88px;
  }
  .check{
    font-size: 13px;
  }

  .PostSupplement{
    font-size: 10px;
  }

  .Navtitle{
    font-size: 1px;
  }
}

@media (max-width: 422px){
  .serch_box1{
    font-size: 10px;
  }
  .target{
    width: 100px;
  }
}

@media (max-width: 393px){

  .blah{
    font-size: 8px;
  }

  .Region1{
    left: 31px;
  }

  .Classification1{
    left: 75px;
    font-size: 13px;
    top: 7px;
  }

  .Distinction1{
    left: 5px;
    font-size: 15px;
  }

  .Mainnumber1{
    font-size: 32px;
    top: 23px;
    left: 25px;
  }

  .box{
    height: 74px;
    width: 134px;
  }

  .noimage{
    width: 135px;
  }

.nav-tabs{
  font-size: 12px;
}
.RankingNav{
  padding-right: 0px;
}
.alert{
  padding: 5px 4px!important;
  font-size: 12px;
}
.strlen{
  left: 29px!important;
}
.Region1{
  top: 7px;
  font-size: 14px;
}
.Classification1{
  font-size: 14px;
}
.SectionTitleBox{
  font-size: 16px
}
.SiteDescription > p {
  font-size: 15px;
}
.fa-trash-alt{
  font-size: 15px;
}
}

@media (max-width: 370px){
 .SiteDescription > p {
   font-size: 13px;
 }
  .box{
    height: 60px;
    max-width: 120px;
  }
  .Mainnumber1{
    font-size: 26px;
    top: 18px;
  }
  .Distinction1{
    font-size: 12px;
    left: 7px;
    top: 30px;
  }
  .Region1{
    font-size: 12px;
  }
  .Classification1{
    top: 5px;
    left: 64px;
  }
  .header_list{
    font-size: 10px;
  }
  .noimage{
    width: 119px;
    height: 62px;
  }
  .strlen{
    left: 5px;
  }

  .maincontainersp{
    padding-top: 15px;
  }
  .prebtn{
    font-size: 5px!important;
  }
  .strlen{
    left: 24px!important;
  }

}

@media (min-width: 992px){
  .container{
      max-width: 1164px;
  }
}
